body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@font-face {
  font-family: BatFont;
  src: url(/fonts/BatFont.ttf) format('truetype');
}
@font-face {
  font-family: BlackCaps;
  src: url(/fonts/BlackCaps.ttf) format('truetype');
}
@font-face {
  font-family: DkcForever;
  src: url(/fonts/DkcForever.ttf) format('truetype');
}
@font-face {
  font-family: Gomarice;
  src: url(/fonts/Gomarice.ttf) format('truetype');
}
@font-face {
  font-family: GothamNights;
  src: url(/fonts/GothamNights.otf) format('opentype');
}
@font-face {
  font-family: JusticeLeague;
  src: url(/fonts/JusticeLeague.ttf) format('truetype');
}
